{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Register{% endblock %}

{% block body %}
<div class="mx-auto w-75 text-center mt-2">

    <div class="row justify-content-center text-center  mx-auto ">
    <h1>Créer votre compte</h1>
        <div class="col-12 col-md-6 text-start mb-5">

    {{ form_errors(registrationForm) }}


            {{ form(registrationForm) }}


        </div>
    </div>

</div>
{% endblock %}
