{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <div class="container vh-100 d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-5">

                    <h1 class="h3 mb-4 text-center fw-bold">
                        E-mail envoyé
                    </h1>
                    <p>
                        Si un compte correspondant à votre adresse e-mail existe, un e-mail vient de vous être envoyé
                        contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.</p>
                    <p> Ce lien expire
                        dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                        .
                    </p>
                    <p>Si vous ne recevez pas d’e-mail, veuillez vérifier votre dossier spam. <a
                            href="{{ path('app_forgot_password_request') }}">Essayez à nouveau!</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
