{% extends 'base.html.twig' %}

{% block body %}
    <h2>Filtrer les sorties</h2>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">
            Rechercher
        </button>

        {{ form_end(form) }}
    </div>

    <section class="sorties-list">
        {% for sortie in sorties %}
            <p>{{ sortie.nom }}</p>
        {% else %}
            <p>Pas de sortie correspondant au(x) critère(s) choisi(s)</p>
        {% endfor %}
    </section>





{% endblock %}
