body {
    background-color: cadetblue;
}

/* Homepage */
form{

}
.form-container{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    background-color: whitesmoke;
    align-items: center;
    border-radius:6px;
    width:70vw;
    margin-left:10px;
    max-width: 100%;
}
.form-container-child{
    flex: 1 1 auto;
}
.form-container div{
    margin:8px;
    min-width: 0;

}
/* Cards sorties*/
.sorties-list{
    display:flex;
    margin-bottom:10px;
    flex-wrap: wrap;
}
.card {
    margin-left:10px;
    margin-top:10px;
}

.card-text a{
    color:cadetblue;
    text-decoration: none;
}
.card-visibilityOff{
    display:none
}
.card-visibilityOn{

}
.card-visibility50{
    opacity:0.7;
}
.table-success a{
    color:cadetblue;
}
.card li {
    list-style-type: none;
    text-align: justify;
}

li>span{
    opacity:0.5;

}
.card-text{
    font-size: small;
}
.card-text > span{
    font-size: smaller;
    color:darkgreen;
}

/* Popup aucune sortie homepage*/
.notFound{
    margin-left:10px;
    margin-top:10px;
}

.pagination{
    margin-left:10px;
}
